<div class="top-header">
    <img src="/images/Pizza_Planet.png" alt="logo">
    <div id="header-title">
        <h2><%= title%></h2>
    </div>
    <div class="user-data">
        <a href="/">
            Logout
        </a>
            <div id="auth-logout">
                <%= username%>
            </div>
        
    </div>
 </div> <!-- End top header -->