<div class="top-header">
    <img src="/images/Pizza_Planet.png" alt="logo">
    <div id="header-title">
        <h2><%= title%></h2>
    </div>
    <div class="user-data">
        <form action="/logout" method="GET">
            <button class="button" type="submit" id="auth-logout">
                Logout
            </button>
        </form>
    </div>
 </div> <!-- End top header -->