<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/header-nav.ejs', {title: title, username: user.username}); %>
        <div style="text-align: center; width: 40%; margin: auto;">
            <h2 style="color: #13ab08; margin: 20px 40px;" >Welcome, <%= user.fname %> <%= user.lname %></h2>
        </div>
        <div id="pizza-view-container">
            <div id="pizza-list-wrapper">
                <!-- For each pizza in the pizza list, render one clickable div  -->
                <!-- Wrapper contains two columns. Left side is image, right side is data.-->
                <div class="pizza-list-item-wrapper"> 
                    <div class="pizza-list-item-image">
                        <!-- image here  -->
                        <img src="./images/pizza-pep-veg.webp" alt="">
                    </div>
                    <!-- The data contains 3 rows. Title + price, then the description, and then an array of all the toppings -->
                    <div class="pizza-list-item-data">
                        <div>
                            <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                        </div>
                        <div>
                            A description of a potential pizza but we're also gonna test how long we can make this go in 
                        </div>
                        <!-- The toppings are a bunch of tiny divs with unique styling -->
                        <div>
                            <div class="pizza-list-topping">Tomato Sauce</div>
                            <div class="pizza-list-topping">Mozarella Cheese</div>
                            <div class="pizza-list-topping">Pepperoni</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>