<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/header-nav.ejs', {title: title, username: user.username}); %>
        <div style="text-align: center; width: 40%; margin: auto;">
            <h2 style="color: #13ab08; margin: 20px 40px;" >Welcome, Chef <%= user.fname %> <%= user.lname %></h2>
        </div>
        
        <div id="pizza-view-container">
            <div class="button" style="margin-left: 50px;">Create a Pizza</div>
            <div id="pizza-view-control">
                <div id="pizza-list-wrapper">
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">When one has too many</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                    <div class="pizza-list-item-wrapper"> 
                        <div class="pizza-list-item-image">
                            <img src="./images/pizza-pep-veg.webp" alt="">
                        </div>
                        <div class="pizza-list-item-data">
                            <div>
                                <h3 style="display: inline;">Pepperoni Pizzaaa</h3> ~ 10.99
                            </div>
                            <div>
                                A description of a potential pizza but we're also gonna test how long we can make this go in.
                            </div>
                            <div>
                                <div class="pizza-list-item-topping">Tomato Sauce</div>
                                <div class="pizza-list-item-topping">Mozarella Cheese</div>
                                <div class="pizza-list-item-topping">Pepperoni</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- INITIAL CONTENT BEFORE CLICKING A PIZZA OR CLICKING NEW PIZZA BUTTON  -->
                <div id="initial-pizza-message-container">
                    <div id="initial-pizza-message-div">
                        Select a pizza to update or create a new pizza to begin.
                    </div>
                </div>
                <!-- BEGIN RIGHT SIDE OF PAGE  -->
                <form id="pizza-update-wrapper" style="display: none;">
                    <div id="pizza-update-metadata">
                        <div id="pizza-update-photo">
                            
                            <img src="./images/pizza-pep-veg.webp" alt="">
                            <div style="margin: auto; width: 80%; text-align: center;">
                                <small>Select an image to represent this creation</small>
                            </div>
                        </div>
                        <div id="pizza-update-forminputs">
                            <div>
                                <h3>Name</h3>
                                <input type="text" name="name" placeholder="Name" maxlength="17">
                            </div>
                            <div>
                                <h3>Description</h3>
                                <textarea name="description" maxlength="90" style="width: 95%; height: 20%; border-radius: 8px; resize: none;" id="update-pizza-description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="pizza-update-toppings">  
                        <h3>Choose Toppings</h3>
                        <div class="available-topping selected">
                            Chicken
                        </div>
                        <div class="available-topping">
                            Pineapple
                        </div>
                    </div>
                    <div id="pizza-update-actions">
                        <button class="button">Delete Pizza</button>
                        <button class="button" style="width:fit-content">Submit Changes</button>
                    </div>
                </form>
                <!-- BEGIN NEW PIZZA CONTAINER  -->
                <form id="pizza-new-wrapper" style="display: none;">
                    <div id="pizza-new-metadata">
                        <div id="pizza-new-photo">
                            
                            <img src="./images/pizza-pep-veg.webp" alt="">
                            <div style="margin: auto; width: 80%; text-align: center;">
                                <small>Select an image to represent this creation</small>
                            </div>
                        </div>
                        <div id="pizza-new-forminputs">
                            <div>
                                <h3>New Pizza Name</h3>
                                <input type="text" name="name" placeholder="Name" maxlength="17">
                            </div>
                            <div>
                                <h3>Description</h3>
                                <textarea name="description" maxlength="90" style="width: 95%; height: 20%; border-radius: 8px; resize: none;" id="new-pizza-description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div id="pizza-new-toppings"> 
                        <h3>Choose Toppings</h3>
                        <div class="available-topping">
                            Mozzarella
                        </div>
                        <div class="available-topping selected">
                            Chicken
                        </div>
                    </div>
                    <div id="pizza-new-actions">
                        <button class="button">Delete Pizza</button>
                        <button class="button" style="width:fit-content">Submit Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>