<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/header-nav.ejs', {nav_title: title, username: user.username}); %>
        <div id="login-container">
            <div id="form-wrapper" class="create">
                <a href="/dashboard">
                    <div class="back-button"><i class="fa-solid fa-circle-chevron-left"></i></div>
                </a>
                <div style="padding-top: 10px;">
                    <h2>Create a topping</h2>
                    <% if (!success) { %>
                        <div class="success-message" style="color: red">
                            Topping already exists!
                        </div>
                    <% } %> 
                </div>
                <form id="login-form" action="/create/submit-topping" method="POST">
                    <div>
                        <input type="text" name="name" placeholder="name of topping" autocomplete="off" required>
                        <select name="type">
                            <option value="Sauce">Sauce</option>
                            <option value="Cheese">Cheese</option>
                            <option value="Veggies">Veggies</option>
                            <option value="Meat">Meat</option>
                        </select>
                    </div>
                    <div>
                        <input type="number" min="0" max="4" step=".01" placeholder="Price" name="price">
                    </div>
                    <div>
                        Created by: <%= user.username %>
                    </div>
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
        </div> <!--Login container ends-->
    </body>
    <footer>
        Built by Joshua Peoples 
    </footer>
</html>