<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <div id="login-container">
            <div id="form-wrapper">
                <div id="big-logo"><img src="/images/Pizza_Planet.png" alt=""></div>
                <h2>&#x1f47d;&#x1f355; Arcade & Cuisine &#x1f355;&#x1f47d;</h2>
                <form id="login-form" action="/login" method="POST">
                    <div>
                        <input type="text" for="username" name="username" placeholder="username" autocomplete="off">
                    </div>
                    <div>
                        <input type="password" for="password" placeholder="password">
                    </div>
                    <button class="button">Submit</button>
                </form>
            </div>
        </div> <!--Login container ends-->

    </body>
    <footer>
        Built by Joshua Peoples 
    </footer>
</html>