<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <div id="login-container">
            <div id="form-wrapper" class="create">
                <div id="big-logo"><img src="/images/Pizza_Planet.png" alt=""></div>
                <h2>Arcade & Cuisine</h2>
                <% if (invalid) { %>
                    <div class="success-message">
                        Your credentials do not match our records.
                    </div>
                <% } %> 
                <form id="login-form" action="/login-user" method="POST">
                    <div>
                        <input type="text" name="username" placeholder="username" autocomplete="off" required>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="password" required>
                    </div>
                    <button class="button" type="submit">Login</button>
                </form>
                <a href="/new-user" style="text-decoration: none">
                    <div class="button" id="create-user-button">
                        Create User
                    </div>
                </a>
            </div>
        </div> <!--Login container ends-->

    </body>
    <footer>
        Built by Joshua Peoples 
    </footer>
</html>