<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <div id="login-container">
            <div id="form-wrapper">
                <a href="/">
                    <div id="big-logo"><img src="/images/Pizza_Planet.png" alt=""></div>
                </a>
                <h2>Arcade & Cuisine</h2>
                <% if (!success) { %>
                    <div class="success-message" style="color: red">
                        User already exists!
                    </div>
                <% } %> 
                <form id="login-form" action="/new-user" method="POST">
                    <div>
                        <input type="text" name="fname" placeholder="First Name" autocomplete="off" required>
                        <input type="text" name="lname" placeholder="Last Name (optional)" autocomplete="off">
                    </div>
                    <div>
                        <input type="text" name="username" placeholder="username" autocomplete="off" required>
                        <input type="password" name="password" placeholder="password" required>
                    </div>
                    <div>
                        <h3>Admin controls</h3>
                        <span>Set user permissions</span>
                        <select name="permissions" id="select-type" onchange="adminControlKey()">
                            <option selected>Chef</option>
                            <option>Owner</option>
                        </select>
                        <input id="admin-key" style="border-radius: 8px; height: 20px; 
                        border: none; display: none;" type="text" name="admin-key", 
                        placeholder="Admin Key" autocomplete="off">
                    </div>
                    
                    <button class="button" type="submit">Submit</button>
                </form>
            </div>
        </div> <!--Login container ends-->

    </body>
    <footer>
        Built by Joshua Peoples 
    </footer>
</html>