<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head.ejs'); %>
    </head>
    <body>
        <div id="primary">Primary</div>
        <div id="secondary">Secondary</div>
        <div id="accent">Accent</div>
        <div id="words">Words</div>

        <div class="button">Submit</div> 
        <form action="">
            <label for="js-test" id="js-test">Testing Javascript</label>
            <input for="js-test" id="js-input" type="text" onkeyup="changeLabel()">
        </form>
        


    </body>
    <footer>

    </footer>
</html>