
body {
    background-color: #1e1f4e; /* Primary color */
    color: #fff;
    margin: 0;
}

h2 {
    font-family: 'Audiowide', cursive;
    cursor: default;
}

footer {
    margin-top: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    text-align: center;
}

#header-title {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
}

.top-header {
    height: 75px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    border-bottom: 1px solid #fff;
}

.top-header > img {
    max-height: 100%;
    padding-left: 10px;
    
}

.user-data {
    color: #13ab08;
    padding-top: 15px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.user-photo > img {
    border-radius: 50px;
    width: 40px;
}

#auth-logout {
    padding-left: 5px;
    align-items: right;
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
    
}
#auth-logout > div {
    align-items: center;
    display: inline;
    margin-top: 10px;
}
.button {
    background-color: #bc1a1f; /*#bc1a1f*/ 
    border: 1px solid #870d51; /* #870d51*/
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}
#big-logo {
    height: 270px;
    overflow: hidden;
}
#login-form {
    margin-top: 50px;
}
#login-container{
    text-align: center;
    width: 50%;
    margin: 100px auto auto auto;
}

#form-wrapper {
    background-color: rgba(98, 98, 165, 0.4);
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding-bottom: 80px;
}

div > input {
    margin: 5px;
    height: 2em;
    width: 200px;
    font-family: 'Exo 2', sans-serif;
    border-radius: 8px;
    padding-left: 8px;
    margin-top: 10px;
}

#primary{
    border: 1px solid white;
    background-color: #1e1f4e;
    width: 100px;
    height: 30px;
    text-align: center;

}
#secondary{
    border: 1px solid white;
    background-color: #870d51;
    width: 100px;
    height: 30px;
    text-align: center;

}
#accent{
    border: 1px solid white;
    background-color: #bc1a1f;
    width: 100px;
    height: 30px;
    text-align: center;

}
#words{
    border: 1px solid white;
    background-color: #13ab08;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;

}