
body {
    background-color: #1e1f4e; /* Primary color */
    color: #fff;
    margin: 0;
}

h2, h3 {
    font-family: 'Audiowide', cursive;
    cursor: default;
}

footer {
    margin-top: 30px;
    font-family: 'Exo 2', sans-serif;
    font-size: 10px;
    text-align: center;
}

#header-title {
    text-align: center;
}

#header-title > h2 {
    margin-top: 8px;
}

.top-header {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    border-bottom: 1px solid #fff;
}

.top-header > img {
    max-height: 100%;
    padding-left: 10px;
    
}

.user-data {
    color: #13ab08;
    padding-top: 5px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.user-photo > img {
    border-radius: 50px;
    width: 40px;
}

#auth-logout {
    padding-left: 5px;
    align-items: right;
    font-family: 'Audiowide', cursive;
    font-size: 14px;
    margin-top: 10px;
    
}
#auth-logout > div {
    align-items: center;
    display: inline;
    margin-top: 10px;
}
#create-user-button {
    margin: auto;
}
.new-button {
    margin-top: 6px;
    margin-left: 5px;
    background-color: #bc1a1f; /*#bc1a1f*/ 
    border: 1px solid #870d51; /* #870d51*/
    border-radius: 8px;
    width: 50px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}
.button {
    background-color: #bc1a1f; /*#bc1a1f*/ 
    border: 1px solid #870d51; /* #870d51*/
    border-radius: 8px;
    width: 100px;
    /* height: 40px; */
    padding: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
}



#big-logo {
    height: 270px;
    overflow: hidden;
}
#login-form {
    margin-top: 50px;
}
#login-container{
    text-align: center;
    width: 50%;
    margin: 100px auto auto auto;
    font-family: 'Exo 2', sans-serif;
}

#form-wrapper {
    background-color: rgba(98, 98, 165, 0.4);
    border-radius: 10px;
    width: 500px;
    margin: auto;
    padding-bottom: 80px;
}

div > input, select {
    margin: 5px;
    height: 2em;
    width: 200px;
    font-family: 'Exo 2', sans-serif;
    border-radius: 8px;
    padding-left: 8px;
    margin-top: 10px;
}

.item-list-container-head {
    margin: 30px auto;
    width: 80%;
    border-radius: 8px;
    max-height: 600px;
    background-color: rgba(98, 98, 165, 0.4);
    text-align: center;
    min-width: 200px;
    
}

.item-list-container {
    margin: 30px auto;
    width: 80%;
    border-radius: 8px;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(98, 98, 165, 0.4);
    text-align: center;
    padding-left: 10px;
    min-width: 200px;
}


.item-data {
    display: grid; 
    grid-template-columns: .25fr 1fr 1fr 1fr 1fr 1fr;
    border-radius: 8px; 
    height: 50px;
    margin: 3px;
}

.item-data:nth-child(even){
    background-color: rgba(98, 98, 165, 0.8);
}

.content-head {
    text-decoration: underline;
}

.item-content {
    display: inline-block;
    font-family: 'Exo 2', sans-serif;
    margin: 3px;
}


.item-content > img {
    max-width: 90%;
    max-height: 90%;
    display: inline;
    border-radius: 4px;
}

.action-button {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

#primary{
    border: 1px solid white;
    background-color: #1e1f4e;
    width: 100px;
    height: 30px;
    text-align: center;

}
#secondary{
    border: 1px solid white;
    background-color: #870d51;
    width: 100px;
    height: 30px;
    text-align: center;

}
#accent{
    border: 1px solid white;
    background-color: #bc1a1f;
    width: 100px;
    height: 30px;
    text-align: center;

}
#words{
    border: 1px solid white;
    background-color: #13ab08;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;

}