body {
    background-color: #1e1f4e; /* Primary color */
    color: #fff;
}

h2 {
    font-family: 'Audiowide', cursive;
}

.button {
    background-color: #870d51;
    border: 1px solid #bc1a1f;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    padding: 5px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Exo 2', sans-serif;
}
#big-logo {
    height: 300px;
    overflow: hidden;
}
#login-container{
    text-align: center;
    width: 50%;
    margin: auto;
}


div > input {
    margin: 5px;
    height: 2em;
    width: 200px;
    font-family: 'Exo 2', sans-serif;
}

#primary{
    border: 1px solid white;
    background-color: #1e1f4e;
    width: 100px;
    height: 30px;
    text-align: center;

}
#secondary{
    border: 1px solid white;
    background-color: #870d51;
    width: 100px;
    height: 30px;
    text-align: center;

}
#accent{
    border: 1px solid white;
    background-color: #bc1a1f;
    width: 100px;
    height: 30px;
    text-align: center;

}
#words{
    border: 1px solid white;
    background-color: #13ab08;
    width: 100px;
    height: 30px;
    text-align: center;
    color: #fff;

}